*{
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #00FF00 #070d12;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #131111;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #00FF00;
    border-radius: 30px;
    border: 5px solid #000000;
  }
  
  ul{
    list-style: none;
    text-decoration: none;
  }

  ::selection{
    background-color: #00FF00;
    color: #090909;
  }

  a{
    text-decoration: none;       
  }
  
  body{
    background: rgb(31,36,31);
    background: radial-gradient(circle, rgba(31,36,31,1) 0%, rgba(13,12,12,1) 100%); 
    color: #00FF00;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    width: 99vw;      
    height: 100vh;
  }
  
  h1{
    padding: 50px;
    font-size: 3em;
    margin-top: 70px;
  }
  
  .title-color{
    background-color: #00FF00;
    color: #131111;
    padding: 0 6px;
    border-radius: 8%;
    font-weight: bold;    
  }
 
  .HeaderStyle{
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    position: fixed;
    z-index: 1;    
    background: rgb(31,36,31);
    background: radial-gradient(circle, rgba(31,36,31,1) 0%, rgba(13,12,12,1) 100%);
    backdrop-filter: blur(20px);
    opacity: 0.5;
    top: 0px;    
  }

  .HeaderStyle h2{
    margin-left: 20px;
    color: #00FF00;
    font-size: 1.3em;
  }

  .HeaderBtnAlign{    
    width: 15vw;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 10px;    
  }
 
 
  .HeaderBtnStyle button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 10px;
    color: #ffff;
    background: none;
    border: none;
    cursor: pointer;    
    border-right: 1px solid #00FF00;      
  }

  .HeaderBtnStyle button:hover{
    color: #00FF00;
    transition: 0.25s ease-in-out;
  }

  .HeaderBtnStyle:first-child button{
    color: #00FF00;       
    scale: 1.1;    
  }

  .HeaderBtnStyle:first-child button:hover{
    color: #ffff;
    transition: 0.25s ease-in-out;
  }

  .HeaderBtnStyle:last-child button{
    border: none;
  }

  .HeaderStyle:hover{
    opacity: 1;
    transition: 0.6s ease-in-out;   
  }
  
  .main-nav-align{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
    gap: 15px;
    height: 100vh;
  }
  
  .main-nav-align::before {
    content: "";
    background-image: url(./img/lateral-menu-background.jpg);
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  
    box-shadow: inset -57px -10px 90px #070d12;   
  }

  .mainNavBtnStyle{
    padding: 1px 10px;  
    font-family: 'Orbitron', sans-serif;
    height: 40px;        
    color: #ffff;  
    display: flex;  
    align-items: center;
    cursor: pointer;
    font-size: 0.9em;    
    margin-right: 10px;
    margin-left: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: linear-gradient(90deg, #00FF00 , rgb(31,36,31));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 3px;
    transition: 0.25s ease;    
  }
  
  .mainNavBtnStyle:hover{
    background-size: 100% 2px;      
    font-weight: bold;
    filter: brightness(1.5);
    transition: 0.35s ease-in-out;
  } 
  
  .nav-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;  
  }
  
  .navBtnStyle{
    text-align: center;
    padding: 7px 12px;
    font-size: 1.3em;
    border-radius: 45px;
    cursor: pointer;
    width: 40vh;
    background-color: #090909;
    color: #ffff;
    font-family: 'Orbitron', sans-serif;
    border: 3px solid #00FF00;
    transition: 0.15s ease-in-out;
  }
  
  .navBtnStyle:hover{
    color: #090909;
    background-color: #00FF00;
    font-weight: bold;  
    transition: 0.15s ease-in-out;  
  }
  
  .navBtnStyle:active{
    scale: 1.1;
  }
  
  .content-align{
    margin-top: 30px;
  }
  
  .content-align p, .AboutPageAlign p{
    padding: 15px 22%;
    text-align:left;
    word-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b3b3b3;
    font-size: 1.3em;
  }
  
  .content-align h2{
    margin:20px;
  }

  .responsive-nav-align{
    display: none;
  }
 
  .content-align p span{
    font-weight: bold;
    color: #00FF00;
  }

  .BannerImgAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65vw;
    margin: auto;      
  }
  
  .BannerImgAlign img{   
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin: auto; 
    opacity: 0.5;      
    transition: 0.25s ease-in-out; 
  } 
  .BannerImgAlign img:hover{
    opacity: 1;
    transition: 0.25s ease-in-out;
  }

  /* FORMULARIO DE CADASTRO */

  .FormRegisterAlign, .LoginPageAlign{    
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 0px;
  }
  .FormRegisterAlign h2, .LoginPageAlign h2{
    margin-top: 70px;
    color: #ffff;
    font-size: 1.9em;
    opacity: 0.7;    
    padding-bottom: 0px;
  }

  .FormRegisterAlign h3, .LoginPageAlign h3{
    font-size: 1.3em;     
    margin-top: 10px;
    color: #ffff;
    opacity: 0.3;
  }

  .FormRegisterStyle, .LoginStyle{    
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .FormRegisterItem, .LoginItem{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 15px;
    font-size: 1.3em;    
  }

  .FormRegisterItem input, .LoginItem input{
    font-size: 0.8em;  
    padding: 5px;  
    width: 30vw;
    background-color: #131111;
    color: #ffff;
    border: none;
    border-bottom: 2px outset #00FF00;
    outline: none;
    caret-color: #00FF00;
  }

  .FormRegisterItem input:hover, .LoginItem input:hover{
    filter: brightness(1.5);
  }
 
  .FormRegisterItem input::placeholder, .LoginItem input::placeholder{
    color: #ffff;
    font-size: 0.8em;
    opacity: 0.5;
  }

  .FormRegisterBtnAlign, .LoginBtnAlign{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FormRegisterBtnAlign button, .LoginBtnAlign button{
    border: none;
    background: none;
    color: #ffff;
    padding: 10px 60px;
    font-size: 1.3em;
    cursor: pointer;
    border: 3px solid #00FF00;
    border-radius: 90px;
  }

  .FormRegisterBtnAlign button:hover, .LoginBtnAlign button:hover{
    background-color: #00FF00;
    color: #000000;
    transition: 0.25s ease-in-out;    
  }

  .FormRegisterBtnAlign button:active, .LoginBtnAlign button:active{
    scale: 1.1;
  }

  .NavHiddenBtnAlign{
    position: fixed;
    left: 30vh;
    top: 0px;
    height: 100%;      
  }  

  .NavHiddenBtnAlign button{    
    height: 100%;
    padding: 5px;    
    border: none;
    color: #00FF00;
    font-size: 2em;
    cursor: pointer;  
    transition: 0.45s ease-in-out;  
    background-color: #13111100;    
    background-image: linear-gradient(360deg, #00FF00, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0px 0px;
    position:relative;
  }

  .NavHiddenBtnAlign button:hover{    
    background-size: 1px 100%;    
    transition: 0.45s ease-in-out;  
    color: #ffff;    
  }

  .NavShowBtnAlign{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
  }

  .NavShowBtnAlign button{    
    height: 100%;
    padding: 5px;    
    padding-left: 10px;
    border: none;
    color: #00FF00;
    font-size: 3em;    
    cursor: pointer;  
    transition: 0.25s ease-in-out;  
    background-color: #13111100;    
    background-image: linear-gradient(360deg, #00FF00, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-position: right;    
    background-size: 1px 100%;
    position:relative;
  }

  .NavShowBtnAlign button:hover{                
    color: #ffff;
  }

  @media(max-width:1140px){
    .main-nav-align{
      display: none;
    }

    .main-nav-align::before {      
      background-image: none;    
    }      

    .responsive-nav-align{     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;                   
    }
   
    .drop-down-main-btn button{      
      width: 100vw;     
      height: 5vh;
      cursor: pointer;     
      background-color: #272525; 
      border: none;
      color: #00FF00;
      font-size: 1.5em;
      transition: 0.25s ease-in-out;
    }

    .drop-down-main-btn button:hover{
      background-color: #00FF00;
      color: #000000;
      transition: 0.25s ease-in-out;
      font-weight: bold;
    }
     
    .responsive-nav-btn{
      padding: 1px 10px;  
      font-family: 'Orbitron', sans-serif;
      height: 40px;        
      color: #ffff;  
      display: flex;  
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 0.9em;              
      border-radius: 45px;
      border-bottom: 1px solid #00FF00;
      margin: 20px 0;
      z-index: 1;
    }
    
    .responsive-nav-btn:hover{
      background-color: #4d4c4c;      
      font-weight: bold;
      transition: 0.2s ease-in-out;
    }    

    .content-align p{
      padding: 15px 10%;      
    }

    .HeaderStyle{
      display: none;
    }

    .FormRegisterItem input{
      width: 80vw;
    }
    
    .nav-hidden{
      display: none;
    }

    .NavShowBtnAlign{
      display: none;
    }
  }